
p {
  font-size: 22px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.landing_directions {
  text-align: center;
  /* min-height: 300px; */
}

.landing_intro {
  min-height: 400px;
}

.landing_signup {
  padding-top: 40px;
  min-height: 200px;
  text-align:center;
}

.landing_map {
  text-align: center;
}

.map {
  width: 100%;
  height: 280px;
  height: 715px;
  position: relative;
  z-index: 3;
  margin-bottom: 20px;
}

#footer {
  /* background-color: #131c21; */
  text-align: center;
  color: #fff;
  background-color: #000000;
  min-height: 100px;
}
#footer p {
  padding-top: 20px;
}


