
p {
  font-size: 22px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.logo {
  font-family: 'Belgrano', serif;
  text-transform: uppercase;
  color: #616161;
}

.jumbotron h1 {
  text-shadow: 3px 3px 1px #c4c5c5;
  /* font-size: 72px; */
  font-size: 5.2vw;
  padding-left: 5.0vw;
}

.jumbotron p {
  /* padding-left: 320px; */
  padding-left: 5.0vw;
}

#landing_intro {
  background-image:url('../img/growler_girl_small.png');
  background-repeat:no-repeat;
  background-color:#F8F8F5;
}

.top_banner {
  /* background-color:#F8F8F5; */
}

.thumb {
  margin: auto;
  margin-bottom: 30px;
}

h2 {
  font-family: 'Belgrano', serif;
  color: #616161;

  /* border-bottom: 1px solid silver; */
  padding: 0 30px;
  margin: 0 auto 15px;
}

.landing_directions {
  text-align: center;
  /* min-height: 300px; */
}

.landing_intro {
  min-height: 400px;
}

.top_btn {
  margin-top: 50px;
}

.landing_signup {
  padding-top: 40px;
  min-height: 200px;
  text-align:center;
}

.landing_map {
  text-align: center;
}

.map {
  width: 100%;
  /* height: 280px; */
  /* height: 715px; */
  height: 500px;
  position: relative;
  z-index: 3;
  margin-bottom: 20px;
}

#footer {
  /* background-color: #131c21; */
  text-align: center;
  color: #fff;
  background-color: #000000;
  min-height: 100px;
}
#footer p {
  padding-top: 20px;
}


